<% if notice.present? %>
  <div class="bg-blue-100 border-t-4 border-blue-500 rounded-b text-blue-900 px-4 py-3 mb-4 text-center" role="alert">
    <p><%= notice %></p>
  </div>
<% end %>


<%= render 'layouts/sidebar' %>

<div class="p-4 sm:ml-64">
  <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">

    <div class="container mx-auto mt-8">
      <h1 class="text-3xl font-bold mb-4">Assigned Tickets</h1>

      <section class="mb-8" id="assigned-tickets-section">
        <div class="overflow-x-auto">
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr>
                <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Title</th>
                <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Due Date</th>
                <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Priority</th>
                <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Status</th>
                <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @assigned_tickets.each do |ticket| %>
                <tr class="bg-gray-200 border-b border-gray-300">
                
                  <td class="px-6 py-4 whitespace-nowrap underline cursor-pointer"><%= link_to ticket.title, ticket, class: "hover:text-black hover:bg-gray-200"%></td> 
                  <td class="px-6 py-4 whitespace-nowrap"><%= ticket.end_date %></td>
                  <td class="px-6 py-4 whitespace-nowrap
                    <%= ticket.priority == 'Urgent' ? 'text-red-600' :
                      (ticket.priority == 'Important' ? 'text-red-500' :
                        (ticket.priority == 'Moderate' ? 'text-yellow-500' : 'text-green-500')) %>">
                    <%= ticket.priority %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap"><%= ticket.status %></td>
                  <td class="px-6 py-4 whitespace-nowrap">

                    <%= link_to 'Show', ticket, class: 'text-blue-600 hover:underline hover:text-black hover:bg-gray-200' %>
                    <%= link_to 'Edit', edit_ticket_path(ticket), class: 'text-green-600 hover:underline hover:text-black hover:bg-gray-200' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

      </section>
    </div>
  </div>
</div>
